.feed {
  max-width: 880px;
  margin: 51px auto 0px;
}

.feed-list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 20px;
  column-gap: 17px;
}

@media screen and (max-width: 520px) {
  .feed-list {
    margin-top: 0;
  }

  .feed {
    justify-content: center;
    margin-top: 0;
  }
}
